[user]
	name = Ansel Santosa
	email = ansel@extrahop.com
[color]
	ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s%d %C(green)[%an]\" --decorate --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
	autocrlf = false
	eol = lf
	pager = less -F -R -X -x1,5
[push]
	default = simple
[branch]
	autosetuprebase = always
[diff]
	tool = meld
[commit]
	template = /home/ansel/.custom/.gitmessage.txt
